*.class

# Package Files #
*.jar
*.war
*.ear
src/test/java
src/test/resources
src/main/java
src/main/resources
src/test/resources/test-file-job.xml
pom.xml
src/main/java/org/shirdrn/tinyframework/core/conf
